body {
	background-color: #012036;
	margin: 0;
}

.page_header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}

.update_time {
	flex: 1;
	color: gray;
}

.page_title {
	font-size: 2em;
	flex: 1;
	text-align: center;
	color: white;
}

.error_msg {
	font-size: 1em;
	font-weight: bold;
	flex: 1;
	text-align: right;
	color: #f00;
	margin-right: 25px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.container>div {
	padding: 5px;
	text-align: center;
}

.table_head {
	color: white;
	background-color: #1c557ed4;
	border-radius: 10px 10px 0 0;
}

.hd_sn {
	/* set width to n Characters */
	width: 3.5ch;
	font-size: 0.8em;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.hd_score {
	/* set width to n Characters */
	width: 3ch;
	font-size: 0.8em;
}

.hd_id {
	width: 14ch;
}

.hd_vendor {
	width: 18ch;
	font-size: 0.8em;
}

.hd_desc {
	flex: 1;
}

.div_sn {
	background-color: white;
	width: 3.5ch;
	font-size: 0.8em;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.div_score {
	font-weight: bold;
	color: white;
	width: 3ch;
	/* set width to n Characters */
}

.critical {
	background-color: darkred;
}

.high {
	background-color: red;
}

.medium {
	background-color: orange;
}

.low {
	background-color: green;
}

.none {
	background-color: darkgray;
}

.div_id {
	background-color: white;
	width: 14ch;
}

.div_vendor {
	background-color: #ddd;
	width: 18ch;
	font-size: 0.8em;
	padding: 3px 1px 1px !important;
}

.div_desc {
	flex: 1;
	text-align: left !important;
	background-color: white;
	max-height: 5ch;
	overflow: hidden;
	position: relative;
}

.div_date {
	background-color: #eee;
}

.expand_desc_arrow {
	height: 15px;
	position: absolute;
	bottom: 0px;
	right: 2px;
}

.settings_icon svg {
	height: 20px;
	width: 20px;
	fill: white;
	position: fixed;
	right: 5px;
	top: 10px;
	z-index: 999;
}

.base {
	width: calc(100% - 10px);
	float: left;
	margin: 5px;
}

.settings_div {
	width: 0px;
	background-color: #012036;
	position: fixed;
	right: 0px;
}

.settings_title {
	margin: 0px 0px 10px;
	padding: 10px;
	text-align: center;
	color: #012036;
	background-color: #eee;
	box-shadow: 0 10px 6px -6px black;
}

.settings_item {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: #012036;
	background-color: white;
}

.keyword_highlight {
	background-color: #FFFF00;
}

@media only screen and (max-width : 800px) {
	.update_time {
		flex-basis: 100%;
		order: 2;
		text-align: center;
	}

	.page_title {
		flex-basis: 100%;
		order: 1;
	}

	.error_msg {
		flex-basis: 100%;
		order: 3;
		text-align: center;
	}

	.settings_icon {
		flex-basis: 100%;
		order: 4;
		text-align: center;
	}

	.hd_vendor {
		flex: 1;
		order: 1;
	}

	.hd_desc {
		flex-basis: 100%;
		order: 2;
	}

	.hd_date {
		flex: 1;
		order: 1;
	}

	.div_vendor {
		flex: 1;
		order: 1;
	}

	.div_desc {
		flex-basis: 100%;
		order: 2;
        background-color: #eee;
	}

	.div_date {
		flex: 1;
		order: 1;
		background-color: white;
	}
}
