body {
	background-color: #012036;
	margin-top: 0;
}

.page_header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}

.update_time {
	flex: 1;
	color: gray;
}

.page_title {
	font-size: 2em;
	flex: 1;
	text-align: center;
	color: white;
}

.error_msg {
	font-size: 1em;
	font-weight: bold;
	flex: 1;
	text-align: right;
	color: #f00;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.container>div {
	padding: 5px;
	text-align: center;
}

.table_head {
	color: white;
	background-color: #1c557ed4;
	border-radius: 10px 10px 0 0;
}

.hd_sn {
	/* set width to n Characters */
	width: 3ch;
}

.hd_score {
	/* set width to n Characters */
	width: 4ch;
}

.hd_id {
	width: 16ch;
}

.hd_desc {
	flex: 1;
}

.hd_date {
	width: 20ch;
}

.div_sn {
	background-color: white;
	width: 3ch;
}

.div_score {
	font-weight: bold;
	color: white;
	width: 4ch;
	/* set width to n Characters */
}

.critical {
	background-color: red;
}

.high {
	background-color: orange;
}

.div_id {
	background-color: white;
	width: 16ch;
}

.div_desc {
	flex: 1;
	text-align: left !important;
	background-color: #ddd;
	max-height: 5ch;
	overflow: hidden;
	position: relative;
}

.div_date {
	background-color: #eee;
}

.expand_desc_arrow {
	height: 15px;
	position: absolute;
	bottom: 0px;
	right: 2px;
}

.settings_icon svg {
	height: 20px;
	width: 20px;
	fill: white;
}

@media only screen and (max-width : 600px) {
	.update_time {
		flex-basis: 100%;
		order: 2;
		text-align: center;
	}

	.page_title {
		flex-basis: 100%;
		order: 1;
	}

	.error_msg {
		flex-basis: 100%;
		order: 3;
		text-align: center;
	}

	.settings_icon {
		flex-basis: 100%;
		order: 4;
		text-align: center;
	}

	.hd_desc {
		flex-basis: 100%;
		order: 2;
	}

	.hd_date {
		flex: 1;
		order: 1;
	}

	.div_desc {
		flex-basis: 100%;
		order: 2;
	}

	.div_date {
		flex: 1;
		order: 1;
	}
}